body {
  padding-top: 87px;
}

@media screen and (min-width:768px) {
  .navbar-form {
    width: 80% !important;
  }
  .input-group {
    width: 100%;
  }
}

.lazy {
  cursor: pointer;
}

iframe {
  max-width: 100%;
}

.paging {
  display: inline-block;
  width: 100%;
  text-align: center;
}
